sentence-transformers>=2.6.0
langchain
langchain-google-genai
flask
flask_cors
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
langchain_huggingface
gunicorn
-e .